<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8"/>
	<title>Alex's Landing Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexpage.css') }}">
</head>
<body>

<h1>Alex Web Apps - Landing Page</h1>

<hr /><br />

<div id="listdiv" class="listdiv">
<a href="mapmania.html">MapMania v1</a><br /><br />
<a href="mapmaniafinal.html">MapMania v2-Final</a><br /><br />
<a href="diceroller.html">Dice Roller</a><br /><br />
<a href="https://mustang-data-aar.azurewebsites.net/contactparsing.html">Mustang v2</a>
<a href="{{ url_for('static', filename='contactparsing.html') }}">Python Mustang</a>
</div>

</body>
</html>
